html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Cormorant SC', serif;
}

body {
  font-family: 'Cormorant SC', serif;
  margin: 0;
}


*,
*:after,
*:before {
  box-sizing: border-box;
}

.corner-wrapper {
  display: block;
  height: 50%;
  width: 80%;
  border-radius: 10px;
  transform: translateZ(0px);
  border: 3px solid #eee;

}

.ruzmarin {
  -webkit-filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black)
  drop-shadow(-1px -1px 0 black);
}

